<div class="card">
  <div class="card-image">
    <img src="https://darkerside.github.io/project/pwa/assets/images/luminix-teal.jpg">
  </div>
  <div class="avatar">
    <img class="avatar-img circle z-depth-2" src="https://darkerside.github.io/project/pwa/assets/images/mine.jpg" alt="Riski Mardhianto">
  </div>
  <div class="card-content center">
    <span class="avatar-name">Riski Mardhianto</span>
    The Man behind "One-Man Army" Luminix Studio.
  </div>
  <div class="card-action center pt0 bt0">
    <a class="avatar-link" href="https://darkerside.github.io"><i class="mdi mdi-github"></i></a><a class="avatar-link" href="https://facebook.com/ryoken.anezaki"><i class="mdi mdi-facebook"></i></a><a class="avatar-link" href="https://likedin.com/in/rm121514"><i class="mdi mdi-linkedin"></i></a><a class="avatar-link" href="mailto:riski.mardianto@gmail.com"><i class="mdi mdi-email"></i></a>
  </div>
</div>
