<div class="row mt04">
  <div class="col s12 p0" id="saveddata">
  <!-- Card berisi data akan disisipkan ke dalam sini. -->
  </div>
</div>
<div class="fixed-action-btn">
  <button class="btn-floating btn-large light-blue darken-3 view-saved d-none" id="btn-club">
    <i class="mdi mdi-shield"></i>
  </button>
  <button class="btn-floating btn-large light-blue darken-3 view-saved d-none" id="btn-match">
    <i class="mdi mdi-sword-cross"></i>
  </button>
  <button class="btn-floating btn-large light-blue darken-3 view-saved" id="btn-player">
    <i class="mdi mdi-account"></i>
  </button>
</div>