<li><img class="sidebar-logo" src="assets/images/sidebar.png"></li>
<li><a class="sidebar-dark"><span target="#home" class="link active"><i class="mdi mdi-home"></i>Home</span></a></li>
<li><a class="sidebar-dark"><span target="#statistic" class="link"><i class="mdi mdi-newspaper-variant"></i>Statistic</span></a></li>
<li><a class="sidebar-dark"><span target="#saved" class="link"><i class="mdi mdi-folder-download"></i>Saved</span></a></li>
<li><div class="divider"></div></li>
<li><a class="sidebar-dark"><span target="#about" class="link"><i class="mdi mdi-information"></i>About</span></a></li>