<div class="row mt04">

	<div class="col s12">
		<h4>Ongoing Match</h4>
		<div class="t-center" id="ongoingmatch">
		    <!-- Card ongoing match -->
		    <div class="preloader-wrapper small active">
		        <div class="spinner-layer spinner-orange-only">
		          <div class="circle-clipper left">
		            <div class="circle"></div>
		          </div><div class="gap-patch">
		            <div class="circle"></div>
		          </div><div class="circle-clipper right">
		            <div class="circle"></div>
		          </div>
		        </div>
		    </div>
		</div>
    </div>

    <div class="col s12">
		<h4>Next 5 Match</h4>
		<div class="t-center" id="scheduledmatch">
			<!-- Card list jadwal 5 match -->
			<div class="preloader-wrapper small active">
		        <div class="spinner-layer spinner-blue-only">
		          <div class="circle-clipper left">
		            <div class="circle"></div>
		          </div><div class="gap-patch">
		            <div class="circle"></div>
		          </div><div class="circle-clipper right">
		            <div class="circle"></div>
		          </div>
		        </div>
		    </div>
		</div>
    </div>


    <div class="col s12"><h4>Today Statistic</h4></div>
    <div class="col s12 t-center" id="statistik">
		<!-- Card today statistik -->
		<div class="preloader-wrapper small active">
		    <div class="spinner-layer spinner-green-only">
		        <div class="circle-clipper left">
		            <div class="circle"></div>
		        </div><div class="gap-patch">
		            <div class="circle"></div>
		        </div><div class="circle-clipper right">
		            <div class="circle"></div>
		        </div>
		    </div>
		</div>
    </div>
    
</div>
