	<div class="col s12">
        <div class="card white">
          <div class="card-content white-text">
	          <div class="row t-center" id="competitioninfo">
	          	<!-- Competition Info -->
	          	<div class="preloader-wrapper small active">
			        <div class="spinner-layer spinner-teal-only">
			          <div class="circle-clipper left">
			            <div class="circle"></div>
			          </div><div class="gap-patch">
			            <div class="circle"></div>
			          </div><div class="circle-clipper right">
			            <div class="circle"></div>
			          </div>
			        </div>
			    </div>
	          </div>
	          <div class="row mt2 mb2">
	          	<div class="col s12 center">
	          		<i class="mdi mdi-format-list-numbered icon-tabs-nav active" target="statistik"></i>
	          		<i class="mdi mdi-soccer icon-tabs-nav" target="topscorrer"></i>
	          		<i class="mdi mdi-trophy icon-tabs-nav" target="compwinner"></i>
	          	</div>
	      	  </div>
			    <div class="col s12 content-tabs t-center" id="statistik">
					<!-- Card today statistik -->
					<div class="preloader-wrapper small active">
					    <div class="spinner-layer spinner-green-only">
					        <div class="circle-clipper left">
					            <div class="circle"></div>
					        </div><div class="gap-patch">
					            <div class="circle"></div>
					        </div><div class="circle-clipper right">
					            <div class="circle"></div>
					        </div>
					    </div>
					</div>
			    </div>
			    <div class="col s12 content-tabs t-center d-none" id="topscorrer">
					<!-- Card Top Scorrer -->
					<div class="preloader-wrapper small active">
				        <div class="spinner-layer spinner-blue-only">
				          <div class="circle-clipper left">
				            <div class="circle"></div>
				          </div><div class="gap-patch">
				            <div class="circle"></div>
				          </div><div class="circle-clipper right">
				            <div class="circle"></div>
				          </div>
				        </div>
				    </div>
			    </div>
	            <div class="col s12 content-tabs t-center d-none" id="compwinner">
					<!-- Card Competition Winner -->
					<div class="preloader-wrapper small active">
				        <div class="spinner-layer spinner-orange-only">
				          <div class="circle-clipper left">
				            <div class="circle"></div>
				          </div><div class="gap-patch">
				            <div class="circle"></div>
				          </div><div class="circle-clipper right">
				            <div class="circle"></div>
				          </div>
				        </div>
				    </div>
				</div>
          </div>
        </div>
      </div>
    
    